header{
    color: #ffff;
    background-color: #1f93f3;
    padding: 1rem 1rem 5px 1rem;
}

header ul{
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    align-items: start;
    gap: 2rem;
    margin-top: 2rem;
}

@media (max-width:640px) {
    header ul{
        list-style: none;
        font-size: 1.1rem;
        gap: 1.5rem;
        margin-top: 2rem;
    }
        
  }
  